<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>openCVTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8716EDB1DBC066000FC7CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8716EEF1DBC066000FC7CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8716EFA1DBC066100FC7CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
